<h1>Invoices</h1>
<div>
    <kendo-grid #grid
                [data]="gridInvoices"
                [height]="410"
                (add)="addHandler($event, myForm)">
        <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add new</button>
        </ng-template>


        <kendo-grid-column field="InvoiceNumber" title="Invoice No." width="40" [editable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="Date" title="Invoice Date" width="40" [editable]="false">
        </kendo-grid-column>
    </kendo-grid>
    <div kendoDialogContainer></div>
    <!--<kendo-dialog title="New invoice" *ngIf="opened" (close)="close()" [minWidth]="550" [width]="750">
        <p style="margin: 30px; text-align: center;">Are you sure you want to continue?</p>
        
        <kendo-dialog-actions>
            <button kendoButton (click)="close()">No</button>
            <button kendoButton (click)="close()" primary="true">Yes</button>
        </kendo-dialog-actions>
    </kendo-dialog>-->
</div>
