<h1>Products</h1>
<div>
    <kendo-grid #grid
                [data]="products"
                [height]="600"
                (add)="addHandler($event, myForm)"
                (remove)="removeHandler($event)"
                [pageSize]="pageSize"
                [pageable]="{
                    buttonCount: buttonCount,
                    info: info,
                    type: type,
                    pageSizes: pageSizes,
                    previousNext: previousNext
                }"
                [skip]="skip"
                (pageChange)="pageChange($event)"
                (dblclick)="editInvoice(grid, $event)"
                (cellClick)="editClick($event)">
        <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add new</button>
            <button (click)="getCountryTemplate()">Save template to upload</button>
            <br />
            <label [for]="'exportTemplate'">Files to upload:</label>
            <kendo-upload id="exportTemplate"
                          [saveUrl]="uploadSaveUrl"
                          [removeUrl]="uploadRemoveUrl"
                          (upload)="uploadEventHandler($event)"
                          (remove)="removeEventHandler($event)"
                          [restrictions]="fileRestrictions">
            </kendo-upload>
        </ng-template>
        <kendo-grid-column field="codeNo" title="Code" width="40" [editable]="true">
        </kendo-grid-column>
        <kendo-grid-column field="descriptionEn" title="Description English" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="descriptionUa" title="Description Ukrainian" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="countryOfOrigin.name" title="Country of origin" width="40">
            <ng-template kendoGridEditTemplate let-dataItem="countryOfOrigin">
                <kendo-combobox [data]="countries"
                                [textField]="'name'"
                                [valueField]="'id'">
                </kendo-combobox>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="certificate.name" title="Certificate" width="40">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem"
                         let-column="column"
                         let-formGroup="formGroup">
                <kendo-combobox [data]="certificates"
                                [textField] ="'name'"
                                [valueField] ="'id'"
                                [valuePrimitive] ="true">
                </kendo-combobox>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="Command" width="20">
            <ng-template kendoGridCellTemplate>
                <button kendoGridRemoveCommand [iconClass]="'k-icon k-i-close'"
                        style="color: red;"></button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
    <div kendoDialogContainer></div>
</div>
