<h1>Create new invoice</h1>
<div>
    <div class="row">
        <div class="col-lg-2">
            <p>Invoice date</p>
        </div>
        <div class="col-lg-2">
            <kendo-datepicker [format]="'dd-MM-yyyy'" [(value)]="invoice.date" (valueChange)="onDateChange($event)"></kendo-datepicker>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Seller</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="organizations" [textField]="'name'" [valueField]="'id'" [(ngModel)]="invoice.seller"></kendo-dropdownlist>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Buyer</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="organizations" [textField]="'name'" [valueField]="'id'" [(ngModel)]="invoice.buyer"></kendo-dropdownlist>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Contract</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="contracts"></kendo-dropdownlist>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Delivery type</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="deliveryTypes" [textField]="'name'" [valueField]="'id'" [(ngModel)]="invoice.deliveryType"></kendo-dropdownlist>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Terms of payment</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="termsOfPayment" [textField]="'name'" [valueField]="'id'" [(ngModel)]="invoice.termOfPayment"></kendo-dropdownlist>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Terms of delivery</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="termsOfDelivery" [textField]="'name'" [valueField]="'id'" [(ngModel)]="invoice.termsOfDelivery"></kendo-dropdownlist>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <p>Payment identification</p>
        </div>
        <div class="col-lg-4">
            <kendo-multiselect [data]="invoice.paymentIdentification" (valueChange)="onPaymentIdentificationChange($event)" [allowCustom]="true"></kendo-multiselect>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <p>Orders</p>
        </div>
        <div class="col-lg-4">
            <kendo-multiselect [data]="invoice.orderNo" [allowCustom]="true" (valueChange)="onOrderNoChange($event)"></kendo-multiselect>
        </div>
    </div>
    <div>
        <kendo-grid #grid
                    [data]="gridProducts"
                    [height]="410"
                    (add)="addHandler($event)"
                    (save)="saveHandler($event)"
                    (cellClick)="editClick($event)"
                    >
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand>Add new</button>
            </ng-template>
            <kendo-grid-column field="Position" title="Position" width="60" [editable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="CountryOfOrigin" title="Country of origin" width="60" [editable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="CodeNo" title="Code No." width="60" [editable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="Product" title="Description" width="250">
                <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                    <kendo-combobox [data]="products" 
                                    [textField]="'descriptionEn'" 
                                    [valueField]="dataItem"
                                    [filterable]="true"
                                    (valueChange)="handleValueChange($event)"
                                    (filterChange)="productHandleFilter($event)">
                    </kendo-combobox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Unit" title="Unit/Pack" width="40">
            </kendo-grid-column>
            <kendo-grid-column field="Quantity" title="Unit Qty" editor="numeric" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="UnitPrice" title="Unit Price" editor="" width="80" [editable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="Amount" title="Amount" width="80" [editable]="false">
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>