<h1>Create new invoice</h1>
<div class="pull-right">
    <button kendoButton (click)="printInvoice()" [iconClass]="'fa fa-print fa-fw fa-4x'" title="Print invoice"></button>
</div>
<div>
    <div class="row">
        <div class="col-lg-2">
            <p>Invoice date</p>
        </div>
        <div class="col-lg-2">
            <kendo-datepicker [format]="'dd-MM-yyyy'" [(value)]="invoice.date" (valueChange)="onDateChange($event)"></kendo-datepicker>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Seller</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="organizations" [textField]="'name'" [valueField]="'id'" [(ngModel)]="invoice.seller"></kendo-dropdownlist>
            <button kendoButton (click)="addOrganiztion()" [iconClass]="'fa fa-plus-circle fa-fw'" style="color:green;" title="Add organization"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Buyer</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="organizations" [textField]="'name'" [valueField]="'id'" [(ngModel)]="invoice.buyer"></kendo-dropdownlist>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Contract</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="contracts"></kendo-dropdownlist>
            <button kendoButton (click)="addContract()" [iconClass]="'fa fa-plus-circle fa-fw'" style="color:green;" title="Add contract"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Delivery type</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="deliveryTypes" [textField]="'name'" [valueField]="'id'" [(ngModel)]="invoice.deliveryType"></kendo-dropdownlist>
            <button kendoButton (click)="addDeliveryType()" [iconClass]="'fa fa-plus-circle fa-fw'" style="color:green;" title="Add delivery type"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Terms of payment</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="termsOfPayment" [textField]="'name'" [valueField]="'id'" [(ngModel)]="invoice.termOfPayment"></kendo-dropdownlist>
            <button kendoButton (click)="addTermsOfPayment()" [iconClass]="'fa fa-plus-circle fa-fw'" style="color:green;" title="Add term of payment"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">Terms of delivery</div>
        <div class="col-lg-2">
            <kendo-dropdownlist [data]="termsOfDelivery" [textField]="'name'" [valueField]="'id'" [(ngModel)]="invoice.termsOfDelivery"></kendo-dropdownlist>
            <button kendoButton (click)="addTermsOfDelivery()" [iconClass]="'fa fa-plus-circle fa-fw'" style="color:green;" title="Add term of delivery"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <p>Payment identification</p>
        </div>
        <div class="col-lg-4">
            <kendo-multiselect [data]="invoice.paymentIdentification" (valueChange)="onPaymentIdentificationChange($event)" [allowCustom]="true"></kendo-multiselect>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <p>Orders</p>
        </div>
        <div class="col-lg-4">
            <kendo-multiselect [data]="invoice.orderNo" [allowCustom]="true" (valueChange)="onOrderNoChange($event)"></kendo-multiselect>
        </div>
    </div>
    <div>
        <kendo-grid #grid
                    [data]="gridProducts"
                    [height]="410"
                    [navigable]="true"
                    (add)="addHandler($event)"
                    (save)="saveHandler($event)"
                    (remove)="removeHandler($event)"
                    (cellClick)="editClick($event)">
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand>Add new</button>
            </ng-template>
            <kendo-grid-column field="productPosition" title="Position" width="20" [editable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="product.countryOfOrigin.id" title="Country of origin" width="40" [editable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="product.codeNo" title="Code No." width="40" [editable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="product.descriptionEn" title="Description" width="230">
                <ng-template kendoGridEditTemplate let-dataItem="product">
                    <kendo-combobox [data]="products"
                                    [textField]="'descriptionEn'"
                                    [valueField]="'id'"
                                    [filterable]="true"
                                    (valueChange)="handleValueChange($event)"
                                    (filterChange)="productHandleFilter($event)">
                    </kendo-combobox>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="unit" title="Unit/Pack" width="40">
            </kendo-grid-column>
            <kendo-grid-column field="quantity" title="Unit Qty" kendoGridFocusable width="40">
            </kendo-grid-column>
            <kendo-grid-column field="unitPrice" title="Unit Price" width="40">
            </kendo-grid-column>
            <kendo-grid-column field="amount" title="Amount" width="40" [editable]="false">
            </kendo-grid-column>
            <kendo-grid-command-column title="Command" width="40">
                <ng-template kendoGridCellTemplate>
                    <button kendoGridRemoveCommand
                            [iconClass]="'k-icon k-i-close'"
                            [look]="'bare'"
                            style="color: red;"></button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </div>
</div>