<h1>Certificate</h1>
<div>
    <kendo-grid #grid
                [data]="certificates"
                [height]="600"
                (add)="addHandler($event, myForm)"
                (remove)="removeHandler($event)"
                (cellClick)="editClick($event)">
        <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add new</button>
            <button (click)="getCertificateTemplate()">Save template for import</button>
            <br />
            <label [for]="'exportTemplate'">Files to upload:</label>
            <kendo-upload id="exportTemplate"
                          [saveUrl]="uploadSaveUrl"
                          [removeUrl]="uploadRemoveUrl"
                          (upload)="uploadEventHandler($event)"
                          (remove)="removeEventHandler($event)"
                          [restrictions]="fileRestrictions">
            </kendo-upload>
        </ng-template>
        <kendo-grid-column field="name" title="Name" width="150" [editable]="true">
        </kendo-grid-column>
        <kendo-grid-column field="startDate" format="{0:dd-MM-yyyy}" title="Start date" editor="date" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="endDate" format="{0:dd-MM-yyyy}" title="End date" editor="date" width="40">
        </kendo-grid-column>
        <kendo-grid-command-column title="Command" width="20">
            <ng-template kendoGridCellTemplate>
                <button kendoGridRemoveCommand [iconClass]="'k-icon k-i-close'"
                        style="color: red;"></button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
    <div kendoDialogContainer></div>
</div>