<h1>Countries</h1>
<div>
    <kendo-grid #grid
                [data]="gridView"
                [height]="600"
                [groupable]="true"
                [group]="groups"
                (groupChange)="groupChange($event)"
                (add)="addHandler($event, myForm)"
                (remove)="removeHandler($event)"
                (dblclick)="editCertificate(grid, $event)"
                (cellClick)="editClick($event)">
        <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add new</button>
            <button (click)="getCountryTemplate()">Save template to upload</button>
            <br />
            <label [for]="'exportTemplate'">Files to upload:</label>
            <kendo-upload id="exportTemplate"
                          [saveUrl]="uploadSaveUrl"
                          [removeUrl]="uploadRemoveUrl"
                          (upload)="uploadEventHandler($event)"
                          (remove)="removeEventHandler($event)"
                          [restrictions]="fileRestrictions">
            </kendo-upload>
        </ng-template>

        <kendo-grid-column field="certificateId" title="Certificate" width="80">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{certificate(dataItem.certificateId)?.name}}
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="certificate">
                <kendo-combobox [data]="certificates"
                                [textField]="'name'"
                                [valueField]="'id'"
                                (valueChange)="handleValueChange($event)">
                </kendo-combobox>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column width="50" field="name" title="Country">
        </kendo-grid-column>
        <kendo-grid-column width="150" field="descriptionEn" title="Description English">
        </kendo-grid-column>
        <kendo-grid-column width="150" field="descriptionUa" title="Description Ukrainian">
        </kendo-grid-column>
        <kendo-grid-command-column title="Command" width="20">
            <ng-template kendoGridCellTemplate>
                <button kendoGridRemoveCommand [iconClass]="'k-icon k-i-close'"
                        style="color: red;"></button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
    <div kendoDialogContainer></div>
</div>